*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.fundOne{
    height: 75vh;
    background-image: url(./img/Fondo1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contOne{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 1rem;
}
.browsers{
    text-decoration: none;
    color: white;
    font-weight: 900;
    margin: 1rem;
}
.nav{
    display: flex;
    text-align: center;
    height: 3rem;
}
.secOne{
    display: flex;
    margin-top: 8rem;
    flex-direction: column;
    align-items: center;
}
h1{
    color:rgba(245,240,237,255);
    font-weight: 900;
    font-size: 2rem;
    width: 20vw;
    text-align: center;
    margin: 1rem;
    border-bottom: solid .1rem white;
}
h2{
    margin: 1.5rem;
}
.colorOne{
    color: white;
    text-align: center;
    width: 30vw;
    margin: 1rem;
}
.contTwo{
    display: flex;
    height: 60vh;
}
.secTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgba(222,214,191,255);
    background-color:rgba(210,57,60,255);
    width: 50%;
    height: 100%;
}
.secThree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(210,57,60,255);
    background-color: rgba(222,214,191,255);
    width: 50%;
    height: 100%;
}
.textOne{
    text-align: center;
    width: 40%;
}
.textTwo{
    text-align: center;
    width: 39%;
}
.contThree{
    height: 75vh;
    background-image: url(./img/Fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.textFour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}
.brow{
    color: white;
    border: solid 2px white;
    font-weight: 700;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
}