*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.fundOne{
    min-height: 75vh;
    background-image: url(./img/Fondo1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contOne{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 1rem;
}
.browsers{
    text-decoration: none;
    color: white;
    font-weight: 900;
    margin: 1rem;
}
.nav{
    display: flex;
    text-align: center;
    height: 3rem;
}
.secOne{
    display: flex;
    margin-top: 8rem;
    flex-direction: column;
    align-items: center;
}
h1{
    color:rgba(245,240,237,255);
    font-weight: 900;
    font-size: 2rem;
    width: 20vw;
    text-align: center;
    margin: 1rem;
    border-bottom: solid .1rem white;
}
h2{
    color:rgba(245,240,237,255);
    font-weight: 900;
    font-size: 2rem;
    width : 16vw;
    text-align: center;
    margin: 1rem;
    border-bottom: solid .1rem white;
}
h3{
    text-align: center;
    margin: 1.5rem;
}
h4{
    margin: .5rem;
    font-weight: 900;
}
p{
    text-align: center;
    font-size: 1.2rem;
}
.colorOne{
    color: white;
    text-align: center;
    width: 30vw;
    margin: 1rem;
}
.contTwo{
    display: flex;
    min-height: 47vh;
}
.secTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgba(222,214,191,255);
    background-color:rgba(210,57,60,255);
    width: 50%;
}
.secThree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(210,57,60,255);
    background-color: rgba(222,214,191,255);
    width: 50%;
}
.textOne{
    text-align: center;
    width: 40%;
}
.textTwo{
    text-align: center;
    width: 39%;
}
.contThree{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background-image: url(./img/Fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.textFour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}
.brow{
    color: white;
    border: solid 2px white;
    font-weight: 700;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
}
aside{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 45avh;
}
.contFour{
    display: flex;
    width: 50%;
    gap: 3rem;
}
.textAncorOne{
    text-decoration: none;
    font-weight: 800;
    color: rgba(210,57,60,255);
    margin: 2rem;
    padding: 1rem;
}
.textAncorTwo{
    text-decoration: none;
    color: rgba(222,214,191,255);
    margin: 2rem;
    padding: 1rem;
}
.colorThree{
    width: 50%;
}
.textOne{
    width: 35%;
}
.textThree{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    gap: 0rem;
}
.textFive{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}
.text{
    margin: .5rem;
    text-align: left;
}
.icon{
    margin: .5rem;
}

@media screen and (max-width: 768px){
    .contTwo{
        flex-direction: column;
    }
    aside{
        flex-direction: column;
    }
    .contFour{
        flex-direction: column;
    }
    .secThree{
        width: 100%;
    }
    .secTwo{
        width: 100%;
    }
    nav{
        font-size: .7rem;
        text-align: center;
    }
    .browsers{
        justify-content: center;
        margin: .7rem;
    }
    .contTwo {
        min-height: 47vh;
    }
}
